<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TicketApp.Properties.Settings.NorthwindStoreConnectionString"
            connectionString="Data Source=DESKTOP-GDE40M6;Initial Catalog=NorthwindStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>